<!--
 Template-driven version of the Markets form.
 -->
<div *ngIf="markets">

    <form *ngIf="active" #f="ngForm" novalidate (ngSubmit)="save(f.valid)">

        <div class="row">
            <div class="col-sm-12">
                <div *ngFor="let market of markets; let i=index;"
                     class="panel panel-default">
                    <div class="panel-heading">
                        <span>Market {{i + 1}}</span>
                        <span class="glyphicon glyphicon-remove pull-right"
                              *ngIf="markets.length > 1"
                              (click)="deleteMarket(markets[i])"></span>
                    </div>
                    <div class="panel-body">

                        <!-- Enabled? -->
                        <div class="form-group">
                            <label for="marketEnabled_{{i}}">Enabled:</label>
                            <input [(ngModel)]="markets[i].enabled"
                                   type="checkbox" class="checkbox-inline" id="marketEnabled_{{i}}"
                                   name="marketEnabled_{{i}}" #marketEnabled="ngModel">
                        </div>

                        <!-- Market Name -->
                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label for="marketName_{{i}}">Name:</label>
                                <input [(ngModel)]="markets[i].label"
                                       type="text" class="form-control" id="marketName_{{i}}"
                                       name="marketName_{{i}}" #marketName="ngModel" required maxlength="50">

                                <!--<div *ngIf="formErrors.marketName" class="alert alert-danger">{{ formErrors.marketName }}</div>-->

                                <div [hidden]="marketName.valid || (marketName.pristine && !f.submitted)" class="alert alert-danger">
                                    Market Name must be set.
                                </div>

                                <!--<small [hidden]="marketName.valid || (marketName.pristine && !f.submitted)" class="text-danger">-->
                                    <!--Market Name must be set-->
                                <!--</small>-->

                            </div>
                        </div>

                        <!-- Market Id -->
                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label for="marketId_{{i}}">Id:</label>
                                <input [(ngModel)]="markets[i].id"
                                       type="text" class="form-control" id="marketId_{{i}}"
                                       name="marketId_{{i}}" #marketId="ngModel" required maxlength="50">

                                <!--<div [hidden]="marketId.valid || marketId.pristine" class="alert alert-danger">-->
                                    <!--Market Id must be set.-->
                                <!--</div>-->

                                <div [hidden]="marketId.valid || (marketId.pristine && !f.submitted)" class="alert alert-danger">
                                    Market Id must be set.
                                </div>
                            </div>
                        </div>

                        <!-- Base Currency -->
                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label for="baseCurrency_{{i}}">Base Currency:</label>
                                <input [(ngModel)]="markets[i].baseCurrency"
                                       type="text" class="form-control" id="baseCurrency_{{i}}"
                                       name="baseCurrency_{{i}}" #baseCurrency="ngModel" required maxlength="3" pattern="^[A-Z]{3}$">

                                <!--<div [hidden]="baseCurrency.valid || baseCurrency.pristine" class="alert alert-danger">-->
                                    <!--Base Currency must be valid 3 character currency id, e.g. BTC-->
                                <!--</div>-->

                                <div [hidden]="baseCurrency.valid || (baseCurrency.pristine && !f.submitted)" class="alert alert-danger">
                                    Base Currency must be valid 3 character currency id, e.g. BTC
                                </div>
                            </div>
                        </div>

                        <!-- Counter Currency -->
                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label for="counterCurrency_{{i}}">Counter Currency:</label>
                                <input [(ngModel)]="markets[i].counterCurrency"
                                       type="text" class="form-control" id="counterCurrency_{{i}}"
                                       name="counterCurrency_{{i}}" #counterCurrency="ngModel" required maxlength="3" pattern="^[A-Z]{3}$">

                                <!--<div [hidden]="counterCurrency.valid || counterCurrency.pristine" class="alert alert-danger">-->
                                    <!--Counter Currency must be valid 3 character currency id, e.g. BTC-->
                                <!--</div>-->

                                <div [hidden]="counterCurrency.valid || (counterCurrency.pristine && !f.submitted)" class="alert alert-danger">
                                    Counter Currency must be valid 3 character currency id, e.g. BTC
                                </div>
                            </div>
                        </div>

                        <!-- Trading Strategy -->
                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label for="tradingStrategy_{{i}}">Trading Strategy:</label>
                                <input [(ngModel)]="markets[i].tradingStrategy.id"
                                       type="text" class="form-control" id="tradingStrategy_{{i}}"
                                       name="tradingStrategy_{{i}}" #tradingStrategy="ngModel" required maxlength="50">

                                <!--<div [hidden]="tradingStrategy.valid || tradingStrategy.pristine" class="alert alert-danger">-->
                                    <!--Trading Strategy must be set.-->
                                <!--</div>-->

                                <div [hidden]="tradingStrategy.valid || (tradingStrategy.pristine && !f.submitted)" class="alert alert-danger">
                                    Trading Strategy must be set.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="margin-20">
                    <a (click)="addMarket()" style="cursor: default">
                        Add Market +
                    </a>
                </div>
            </div>
        </div>

        <div>
            <hr>
        </div>
        <div>
            <!--
             Must have type for button else Chrome reloads entire app on Cancel click!
             http://stackoverflow.com/questions/38120756/angular2-router-navigate-refresh-page
             -->
            <button type="button" (click)="goToDashboard()" class="btn btn-default">Cancel</button>
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    </form>
</div>
