<!--
    Template-driven version of the Exchange Adapter form.
 -->
<div *ngIf="exchange" class="container module-bootstrap">

    <form *ngIf="active" #exchangeDetailsForm="ngForm" (ngSubmit)="save()">

        <div class="form-group">
            <label for="exchangeId">Id:</label>
            <input [(ngModel)]="exchange.id" name="exchangeId" id="exchangeId" type="text" class="form-control"
                   disabled/>
        </div>

        <div class="form-group">
            <label for="adapter">Adapter:</label>
            <input [(ngModel)]="exchange.adapter" name="adapter" placeholder="MyExchangeAdapter" id="adapter"
                   type="text" class="form-control" required maxlength="120"/>
            <div *ngIf="formErrors.adapter" class="alert alert-danger">{{ formErrors.adapter }}</div>
        </div>
        <div class="form-group">
            <label for="connectionTimeout">Connection Timeout (secs):</label>
            <input [(ngModel)]="exchange.networkConfig.connectionTimeout" id="connectionTimeout"
                   name="connectionTimeout" type="text" class="form-control" placeholder="60" required
                   pattern="\d+"/>
            <div *ngIf="formErrors.connectionTimeout" class="alert alert-danger">{{formErrors.connectionTimeout }}</div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <h4>Non Fatal HTTP Status Codes</h4>
                <div *ngFor="let errorCode of exchange.networkConfig.nonFatalErrorHttpStatusCodes; let i=index;"
                     class="panel panel-default">
                    <div class="panel-heading">
                        <span>Code {{i + 1}}</span>
                        <span class="glyphicon glyphicon-remove pull-right"
                              *ngIf="exchange.networkConfig.nonFatalErrorHttpStatusCodes.length > 0"
                              (click)="deleteErrorCode(exchange.networkConfig.nonFatalErrorHttpStatusCodes[i])"></span>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label for="">HTTP Status Code:</label>
                            <input #httpStatusCode
                                   [(ngModel)]="exchange.networkConfig.nonFatalErrorHttpStatusCodes[i].value"
                                   type="text" class="form-control" id="errorCode_ + {{i}}"
                                   name="errorCode_ + {{i}}" required #errorCode="ngModel" pattern="\d{3}">

                            <div [hidden]="errorCode.valid || errorCode.pristine" class="alert alert-danger">
                                HTTP error code must be a 3 digit number.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="margin-20">
                    <a (click)="addErrorCode(0)" style="cursor: default">
                        Add error code +
                    </a>
                </div>
            </div>

            <div class="col-sm-6">
                <h4>Non Fatal Error Messages</h4>
                <div *ngFor="let errorMsg of exchange.networkConfig.nonFatalErrorMessages; let i=index;"
                     class="panel panel-default">
                    <div class="panel-heading">
                        <span>Message {{i + 1}}</span>
                        <span class="glyphicon glyphicon-remove pull-right"
                              *ngIf="exchange.networkConfig.nonFatalErrorMessages.length > 0"
                              (click)="deleteErrorMessage(exchange.networkConfig.nonFatalErrorMessages[i])"></span>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label for="">Error Message:</label>
                            <input [(ngModel)]="exchange.networkConfig.nonFatalErrorMessages[i].value"
                                   type="text" class="form-control" id="errorMsg_ + {{i}}"
                                   name="errorMsg_ + {{i}}" required #errorMsg="ngModel" minLength="1">

                            <div [hidden]="errorMsg.valid || errorMsg.pristine" class="alert alert-danger">
                                Error message must not be empty.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="margin-20">
                    <a (click)="addErrorMessage('')" style="cursor: default">
                        Add error message +
                    </a>
                </div>
            </div>
        </div>

        <div>
            <hr>
        </div>
        <div>
            <!-- Must have type for button else Chrome reloads entire app on Cancel click!
                 http://stackoverflow.com/questions/38120756/angular2-router-navigate-refresh-page
             -->
            <button type="button" (click)="goToDashboard()" class="btn btn-default">Cancel</button>
            <button type="submit" (click)="save()" class="btn btn-primary" [disabled]="!exchangeDetailsForm.form.valid">Save</button>
        </div>
    </form>
</div>
