<!--
    Template-driven version of the Exchange Adapter form.
 -->
<div *ngIf="exchangeAdapter">

    <form *ngIf="active" #f="ngForm" novalidate (ngSubmit)="save(f.valid)">

        <div class="row">
            <div class="form-group col-sm-6">
                <label for="adapterName">Class Name</label>
                <input [(ngModel)]="exchangeAdapter.name" name="adapterName" placeholder="com.my.MyExchangeAdapter" id="adapterName"
                       type="text" class="form-control" required maxlength="50"  #adapterName="ngModel">

                <div [hidden]="adapterName.valid || (adapterName.pristine && !f.submitted)" class="alert alert-danger">
                    Adapter name is required.
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-sm-6">
                <label for="className">Class Name</label>
                <input [(ngModel)]="exchangeAdapter.className" name="className" placeholder="com.my.MyExchangeAdapter" id="className"
                       type="text" class="form-control" required maxlength="120"  #adapterClassName="ngModel"
                       pattern=([a-zA-Z_$][a-zA-Z\\d_$]*\.)*[a-zA-Z_$][a-zA-Z\\d_$]*/>

                <div [hidden]="adapterClassName.valid || (adapterClassName.pristine && !f.submitted)" class="alert alert-danger">
                    Not a valid fully qualified Java class name.
                </div>

                <!--<div *ngIf="formErrors.adapter" class="alert alert-danger">{{ formErrors.adapter }}</div>-->
            </div>
        </div>

        <div class="row">
            <div class="form-group col-sm-6">
                <label for="connectionTimeout">Connection Timeout (secs)</label>
                <input [(ngModel)]="exchangeAdapter.networkConfig.connectionTimeout" id="connectionTimeout"
                       name="connectionTimeout" type="text" class="form-control" placeholder="60" required
                       pattern="\d+" #connectionTimeout="ngModel"/>

                <div [hidden]="connectionTimeout.valid || (connectionTimeout.pristine && !f.submitted)" class="alert alert-danger">
                    Connection timeout must be a whole number.
                </div>

                <!--<div *ngIf="formErrors.connectionTimeout" class="alert alert-danger">{{formErrors.connectionTimeout }}</div>-->
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <h4>Non Fatal HTTP Status Codes</h4>
                <div *ngFor="let errorCode of exchangeAdapter.networkConfig.nonFatalErrorHttpStatusCodes; let i=index;"
                     class="panel panel-default">
                    <div class="panel-heading">
                        <span>Code {{i + 1}}</span>
                        <span id="deleteErrorCodeButton_{{i}}" class="glyphicon glyphicon-remove pull-right"
                              *ngIf="exchangeAdapter.networkConfig.nonFatalErrorHttpStatusCodes.length > 0"
                              (click)="deleteErrorCode(exchangeAdapter.networkConfig.nonFatalErrorHttpStatusCodes[i])"></span>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label for="errorCode_{{i}}">HTTP Status Code</label>
                            <input #httpStatusCode
                                   [(ngModel)]="exchangeAdapter.networkConfig.nonFatalErrorHttpStatusCodes[i].value"
                                   type="text" class="form-control" id="errorCode_{{i}}"
                                   name="errorCode_{{i}}" required #errorCode="ngModel" pattern="\d{3}"
                                   placeholder="502">

                            <div [hidden]="errorCode.valid || (errorCode.pristine && !f.submitted)" class="alert alert-danger">
                                HTTP error code must be a 3 digit number.
                            </div>

                            <!--<div [hidden]="errorCode.valid || errorCode.pristine" class="alert alert-danger">-->
                                <!--HTTP error code must be a 3 digit number.-->
                            <!--</div>-->
                        </div>
                    </div>
                </div>
                <div class="margin-20">
                    <a id="addNewErrorCodeLink" (click)="addErrorCode()" style="cursor: default">
                        Add error code +
                    </a>
                </div>
            </div>

            <div class="col-sm-6">
                <h4>Non Fatal Error Messages</h4>
                <div *ngFor="let errorMsg of exchangeAdapter.networkConfig.nonFatalErrorMessages; let i=index;"
                     class="panel panel-default">
                    <div class="panel-heading">
                        <span>Message {{i + 1}}</span>
                        <span id="deleteErrorMessageButton_{{i}}" class="glyphicon glyphicon-remove pull-right"
                              *ngIf="exchangeAdapter.networkConfig.nonFatalErrorMessages.length > 0"
                              (click)="deleteErrorMessage(exchangeAdapter.networkConfig.nonFatalErrorMessages[i])"></span>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label for="errorMessage_{{i}}">Error Message</label>
                            <input [(ngModel)]="exchangeAdapter.networkConfig.nonFatalErrorMessages[i].value"
                                   type="text" class="form-control" id="errorMessage_{{i}}"
                                   name="errorMessage_{{i}}" required #errorMsg="ngModel" minLength="1"
                                   placeholder="My error message...">

                            <div [hidden]="errorMsg.valid || (errorMsg.pristine && !f.submitted)" class="alert alert-danger">
                                Error message must not be empty.
                            </div>

                            <!--<div [hidden]="errorMsg.valid || errorMsg.pristine" class="alert alert-danger">-->
                                <!--Error message must not be empty.-->
                            <!--</div>-->
                        </div>
                    </div>
                </div>
                <div class="margin-20">
                    <a id="addNewErrorMessageLink" (click)="addErrorMessage('')" style="cursor: default">
                        Add error message +
                    </a>
                </div>
            </div>
        </div>

        <div>
            <hr>
        </div>
        <div>
            <!-- Must have type for button else Chrome reloads entire app on Cancel click!
                 http://stackoverflow.com/questions/38120756/angular2-router-navigate-refresh-page
             -->
            <button id="exchangeAdapterCancelButton" type="button" (click)="goToDashboard()" class="btn btn-default">Cancel</button>
            <button id="exchangeAdapterSaveButton" type="submit" class="btn btn-primary">Save</button>
        </div>
    </form>
</div>
