<!--
 Template-driven version of the Strategies form.
 -->
<div *ngIf="strategies">
    <form *ngIf="active" #strategiesForm="ngForm" novalidate (ngSubmit)="save(strategiesForm.valid)">
        <div class="row">
            <div class="col-sm-12">
                <div *ngFor="let strategy of strategies; let i=index;"
                     class="panel panel-default">
                    <div class="panel-heading">
                        <span>Strategy {{i + 1}}</span>
                        <span id="deleteStrategyButton_{{i}}" class="glyphicon glyphicon-remove pull-right"
                              *ngIf="canBeDeleted()"
                              (click)="deleteStrategy(strategies[i])"></span>
                    </div>
                    <div class="panel-body">

                        <!-- Strategy Name -->
                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label for="strategyName_{{i}}">Strategy Name</label>
                                <input [(ngModel)]="strategies[i].name"
                                       class="form-control" id="strategyName_{{i}}"
                                       name="strategyName_{{i}}" #strategyName="ngModel"
                                       required maxlength="50" pattern="[a-zA-Z0-9_\- ]*"
                                       appBxbotUiDuplicateName="{{getOtherStrategyNames(strategies[i].id)}}"/>
                                <div id="invalidStrategyName_{{i}}"
                                     *ngIf="formErrors['strategyName_' + i].length > 0"
                                     class="alert alert-danger">
                                    {{ formErrors['strategyName_' + i] }}
                                </div>
                            </div>
                        </div>

                        <!-- Strategy Description -->
                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label for="strategyDescription_{{i}}">Description</label>
                                <input [(ngModel)]="strategies[i].description"
                                       class="form-control" id="strategyDescription_{{i}}"
                                       name="strategyDescription_{{i}}" #strategyDescription="ngModel"
                                       maxlength="121"/>
                                <div id="invalidStrategyDescription_{{i}}"
                                     *ngIf="formErrors['strategyDescription_' + i].length > 0"
                                     class="alert alert-danger">
                                    {{ formErrors['strategyDescription_' + i] }}
                                </div>
                            </div>
                        </div>

                        <!-- Strategy Class Name -->
                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label for="strategyClassname_{{i}}">Class Name</label>
                                <input [(ngModel)]="strategies[i].className"
                                       name="strategyClassname_{{i}}"
                                       placeholder="com.my.MyTradingStrategyClass" id="strategyClassname_{{i}}"
                                       class="form-control" required maxlength="120"
                                       #strategyClassname="ngModel"
                                       pattern="([a-zA-Z_$][a-zA-Z0-9_$]*\.)*[a-zA-Z_$][a-zA-Z0-9_$]*"/>
                                <div id="invalidStrategyClassname_{{i}}"
                                     *ngIf="formErrors['strategyClassname_' + i].length > 0"
                                     class="alert alert-danger">
                                    {{ formErrors['strategyClassname_' + i] }}
                                </div>
                            </div>
                        </div>

                        <!-- Optional Strategy Config -->
                        <div>
                            <hr>
                        </div>
                        <a class="btn btn-primary bottom-margin-10" data-toggle="collapse"
                           href="#optionalStrategyConfig_{{i}}" id="optionalStrategyConfigButton_{{i}}"
                           aria-expanded="false" aria-controls="optionalStrategyConfig">
                            <i class="glyphicon glyphicon-triangle-right pull-left glyphicon-padding"></i>
                            <i class="glyphicon glyphicon-triangle-bottom pull-left glyphicon-padding"></i>
                            Optional Config
                        </a>

                        <!--
                        Optional Config Items
                        -->
                        <div class="collapse" id="optionalStrategyConfig_{{i}}">
                            <div class="row">
                                <div class="col-sm-12">

                                    <div *ngFor="let optionalConfigItem of strategies[i].optionalConfig.configItems; let j=index; trackBy:trackByIndex"
                                         class="panel panel-default">

                                        <div class="panel-heading">
                                            <span>Config Item {{j + 1}}</span>
                                            <span id="deleteConfigItemButton_{{i}}_{{j}}"
                                                  class="glyphicon glyphicon-remove pull-right"
                                                  *ngIf="strategies[i].optionalConfig.configItems.length > 0"
                                                  (click)="deleteOptionalConfigItem(strategies[i], optionalConfigItem)"></span>
                                        </div>
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="form-group col-sm-12">
                                                    <label for="strategyConfigItemName_{{i}}_{{j}}" class="col-sm-4">Name</label>
                                                    <input [(ngModel)]="optionalConfigItem.name"
                                                           id="strategyConfigItemName_{{i}}_{{j}}" name="strategyConfigItemName_{{i}}_{{j}}"
                                                           class="form-control"
                                                           maxlength="121" placeholder="buy-fee" minLength="1" required
                                                           #configItemName="ngModel" pattern="[a-zA-Z0-9/_\-]*">
                                                    <div id="invalidStrategyConfigItemName_{{i}}_{{j}}"
                                                         *ngIf="formErrors['strategyConfigItemName_' + i + '_' + j].length > 0"
                                                         class="alert alert-danger">
                                                        {{ formErrors['strategyConfigItemName_' + i + '_' + j] }}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group col-sm-12">
                                                    <label for="strategyConfigItemValue_{{i}}_{{j}}" class="col-sm-4">Value</label>
                                                    <input [(ngModel)]="optionalConfigItem.value"
                                                           id="strategyConfigItemValue_{{i}}_{{j}}" name="strategyConfigItemValue_{{i}}_{{j}}"
                                                           class="form-control"
                                                           maxlength="121" placeholder="0.25" minLength="1" required
                                                           #configItemValue="ngModel">
                                                    <div id="invalidStrategyConfigItemValue_{{i}}_{{j}}"
                                                         *ngIf="formErrors['strategyConfigItemValue_' + i + '_' + j].length > 0"
                                                         class="alert alert-danger">
                                                        {{ formErrors['strategyConfigItemValue_' + i + '_' + j] }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="margin-20">
                                        <i class="glyphicon glyphicon-plus pull-left glyphicon-padding"></i>
                                        <a id="addNewStrategyConfigItemLink_{{i}}"
                                           (click)="addOptionalConfigItem(strategies[i])" style="cursor: default">
                                            Add new Config Item
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="margin-20">
                    <i class="glyphicon glyphicon-plus pull-left glyphicon-padding"></i>
                    <a id="addStrategyLink" (click)="addStrategy()" style="cursor: default">
                        Add Strategy
                    </a>
                </div>
            </div>
        </div>

        <div>
            <hr>
        </div>
        <div>
            <!--
             Must have type for button else Chrome reloads entire app on Cancel click!
             http://stackoverflow.com/questions/38120756/angular2-router-navigate-refresh-page
             -->
            <button id="strategyCancelButton" type="button" (click)="cancel()" class="btn btn-default">Cancel</button>
            <button id="strategySaveButton" class="btn btn-primary">Save</button>
        </div>
    </form>
</div>

<div *ngIf="!canDeleteStrategy" class="modal fade show in danger" id="cannotDeleteStrategyModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
                <h4 class="modal-title">{{errorModal.title}}</h4>
            </div>
            <div class="modal-body">
                {{errorModal.body}}
            </div>
            <div class="modal-footer">
                <button id="cannotDeleteStrategyModalCloseButton" type="button" class="btn btn-primary"
                        (click)="hideCannotDeleteStrategyModal()">Close
                </button>
            </div>
        </div>
    </div>
</div>

