.idea
*.iml
node_modules
app/**/*.js
*.js.map
_test-output
testing/**/*.js
testing/**/*.map
e2e/**/*.js
e2e/**/*.js.map
_temp

npm-debug.log
debug.log
src/**/*.js
src/**/*.map
!src/systemjs.config.extras.js
!src/systemjs.config.js
!src/systemjs-angular-loader.js