/*
 * Master Styles for the app.
 */
h1 {
    color: #369;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
}

h2 {
    color: #444;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    margin-top: 20px;
}

h3 {
    color: #444;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    margin-top: 10px;
}

body {
    margin: 2em;
}

body, input[text], button {
    color: #888;
    font-family: Cambria, Georgia;
    background: url('/assets/pexels-2.jpg') no-repeat;
    background-attachment: fixed;
}

a {
    cursor: pointer;
    cursor: hand;
}

button {
    font-family: Arial;
    background-color: #eee;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    cursor: hand;
}

button:hover {
    background-color: #cfd8dc;
}

button:disabled {
    background-color: #eee;
    color: #aaa;
    cursor: auto;
}

/* Navigation link styles */
nav a {
    padding: 5px 10px;
    text-decoration: none;
    margin-top: 10px;
    display: inline-block;
    background-color: #eee;
    border-radius: 4px;
}

nav a:visited, a:link {
    color: #607D8B;
}

nav a:hover {
    color: #039be5;
    background-color: #CFD8DC;
}

nav a.router-link-active {
    color: #039be5;
}

/* for form input validation */
.ng-valid[required], .ng-valid.required {
    border-left: 5px solid #42A948; /* green */
}

/*.ng-invalid:not(form)  {*/
/*border-left: 5px solid #a94442; !* red *!*/
/*}*/

/* everywhere else */
* {
    font-family: Arial, Helvetica, sans-serif;
}
