.module {
    padding: 20px;
    text-align: left;
    color: #444;
    max-height: 1000px;
    max-width: 720px;
    /*background-color: rgba(226, 221, 220, 0.9);*/
    /*background-color: rgba(81, 139, 131, 0.9);*/

    background-color: rgba(247, 247, 247, 0.88);
    /*background-color: rgba(238, 238, 238, 0.88);*/

    border-radius: 2px;
    margin-top: 10px;
}

.module-bootstrap {
    background-color: rgba(247, 247, 247, 0.88);
}


