.alert {
    width:300px;
    margin-top:20px;
    margin-bottom:20px;
}

.alert.alert-info {
    color:#607D8B;
}

.alert.alert-error {
    color:red;
}

.help-block {
    width:300px;
    color:white;
    background-color:gray;
}

.form-control {
    width: 300px;
    margin-bottom:10px;
}

.btn {
    margin-top:20px;
}


/** New stuff */
.module {
    padding: 20px;
    text-align: left;
    color: #444;
    max-height: 300px;
    max-width: 300px;
    background-color: rgba(247, 247, 247, 0.88);

    border-radius: 2px;
    margin-top: 10px;
}

.module-bootstrap {
    background-color: rgba(247, 247, 247, 0.88);
    border-radius: 5px;
    margin-top: 10px;
    max-height: 500px;
    max-width: 500px;
    text-align: left;
}