.module {
    padding: 20px;
    text-align: left;
    color: #444;
    max-height: 400px;
    max-width: 600px;
    #background-color: rgba(226, 221, 220, 0.9);
    #background-color: rgba(81, 139, 131, 0.9);
    background-color: rgba(238, 238, 238, 0.95);
    border-radius: 2px;
    margin-top: 10px;
}

label {
    display: inline-block;
    width: 5em;
    margin: .5em 0;
    color: #444;
    font-weight: bold;
}

input {
    height: 2em;
    font-size: 1em;
    padding-left: .4em;
}

button {
    margin-top: 20px;
    font-family: Arial;
    background-color: #eee;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    cursor: hand;
}

button:hover {
    background-color: #cfd8dc;
}

button:disabled {
    background-color: #eee;
    color: #ccc;
    cursor: auto;
}



