<div *ngIf="exchange" class="module">
    <h2>{{exchange.id}} Exchange Details</h2>
    <div>
        <label>Id:</label>
        {{exchange.id}}
    </div>
    <div>
        <label>Adapter:</label>
        <input [(ngModel)]="exchange.adapter" placeholder="adapter" size="50"/>
    </div>

    <h3>Network Config</h3>
    <div>
        <label>Connection Timeout (secs):</label>
        <input [(ngModel)]="exchange.networkConfig.connectionTimeout" placeholder="adapter" size="5"/>
    </div>

    <div>
        <label>Non Fatal HTTP Error Codes:</label>
        <ul class="items">
            <li *ngFor="let errorCode of exchange.networkConfig.nonFatalErrorHttpStatusCodes; let i=index;"
                (click)="onSelectErrorCode(exchange.networkConfig.nonFatalErrorHttpStatusCodes[i])" [class.selected]="exchange.networkConfig.nonFatalErrorHttpStatusCodes[i] === selectedErrorCode">
                <input [(ngModel)]="exchange.networkConfig.nonFatalErrorHttpStatusCodes[i].value" placeholder="501" size="5">
                <button class="delete" (click)="deleteErrorCode(exchange.networkConfig.nonFatalErrorHttpStatusCodes[i]); $event.stopPropagation()">x</button>
            </li>
        </ul>
    </div>

    <div>
        <label>Non Fatal Error Messages:</label>
        <ul class="items">
            <li *ngFor="let errorMsg of exchange.networkConfig.nonFatalErrorMessages; let i = index">
                <input [(ngModel)]="exchange.networkConfig.nonFatalErrorMessages[i].value" placeholder="Connection reset" size="50"/>
            </li>
        </ul>
    </div>

    <button (click)="goBack()">Back</button>
    <button (click)="save()">Save</button>

</div>
