<!--
 Template-driven version of the Trading Strategies form.
 -->
<div *ngIf="tradingStrategies">

    <form *ngIf="active" #f="ngForm" novalidate (ngSubmit)="save(f.valid)">

        <div class="row">
            <div class="col-sm-12">
                <div *ngFor="let tradingStrategy of tradingStrategies; let i=index;"
                     class="panel panel-default">
                    <div class="panel-heading">
                        <span>Strategy {{i + 1}}</span>
                        <span id="deleteTradingStrategyButton_{{i}}" class="glyphicon glyphicon-remove pull-right"
                              *ngIf="canBeDeleted()"
                              (click)="deleteTradingStrategy(tradingStrategies[i])"></span>
                    </div>
                    <div class="panel-body">

                        <!-- Strategy Name -->
                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label for="tradingStrategyName_{{i}}">Name</label>
                                <input [(ngModel)]="tradingStrategies[i].name"
                                       type="text" class="form-control" id="tradingStrategyName_{{i}}"
                                       name="tradingStrategyName_{{i}}" #tradingStrategyName="ngModel"
                                       required maxlength="50"/>

                                <!--<div *ngIf="formErrors.marketName" class="alert alert-danger">{{ formErrors.marketName }}</div>-->

                                <div [hidden]="tradingStrategyName.valid || (tradingStrategyName.pristine && !f.submitted)" class="alert alert-danger">
                                     Strategy Name must be set.
                                </div>

                                <!--<small [hidden]="marketName.valid || (marketName.pristine && !f.submitted)" class="text-danger">-->
                                    <!--Market Name must be set-->
                                <!--</small>-->

                            </div>
                        </div>

                        <!-- Strategy Description-->
                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label for="tradingStrategyDescription_{{i}}">Description</label>
                                <input [(ngModel)]="tradingStrategies[i].description"
                                       type="text" class="form-control" id="tradingStrategyDescription_{{i}}"
                                       name="tradingStrategyDescription_{{i}}" #tradingStrategyDescription="ngModel"
                                       maxlength="121"/>

                                <!--<div [hidden]="baseCurrency.valid || baseCurrency.pristine" class="alert alert-danger">-->
                                    <!--Base Currency must be valid 3 character currency id, e.g. BTC-->
                                <!--</div>-->

                                <div [hidden]="tradingStrategyDescription.valid || (tradingStrategyDescription.pristine && !f.submitted)" class="alert alert-danger">
                                    Max Description length is 120.
                                </div>
                            </div>
                        </div>

                        <!-- Strategy classname -->
                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label for="tradingStrategyClassname_{{i}}">Class Name</label>
                                <input [(ngModel)]="tradingStrategies[i].className" name="tradingStrategyClassname_{{i}}"
                                       placeholder="com.my.MyTradingStrategyClass" id="tradingStrategyClassname_{{i}}"
                                       type="text" class="form-control" required maxlength="120"
                                       #tradingStrategyClassname ="ngModel"
                                       pattern="([a-zA-Z_$][a-zA-Z\\d_$]*\.)*[a-zA-Z_$][a-zA-Z\\d_$]*"/>

                                <div [hidden]="tradingStrategyClassname.valid || (tradingStrategyClassname.pristine && !f.submitted)" class="alert alert-danger">
                                    Strategy Class Name must be valid Java class, e.g. com.my.MyTradingStrategyClass
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="margin-20">
                    <a id="addTradingStrategyLink" (click)="addTradingStrategy()" style="cursor: default">
                        Add Trading Strategy +
                    </a>
                </div>
            </div>
        </div>

        <div>
            <hr>
        </div>
        <div>
            <!--
             Must have type for button else Chrome reloads entire app on Cancel click!
             http://stackoverflow.com/questions/38120756/angular2-router-navigate-refresh-page
             -->
            <button id="strategyCancelButton" type="button" (click)="goToDashboard()" class="btn btn-default">Cancel</button>
            <button id="strategySaveButton" type="submit" class="btn btn-primary">Save</button>
        </div>
    </form>
</div>

<div *ngIf="!canDeleteStrategy" class="modal fade show in danger" id="cannotDeleteStrategyModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
                <h4 class="modal-title">Trading Strategy Still In Use</h4>
            </div>
            <div class="modal-body">
                <p>You cannot delete this Trading Strategy because it is still being used my a Market on the Exchange.</p>
                <p>Please check your Market configuration.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="hideCannotDeleteStrategyModal()">Close</button>
            </div>
        </div>
    </div>
</div>

