<!--
    Template-driven version of Exchange Adapter form.
 -->
<div *ngIf="exchangeAdapter">
    <form *ngIf="active" #exchangeAdapterForm="ngForm" novalidate (ngSubmit)="save(exchangeAdapterForm.valid)">

        <!-- Adapter Name -->
        <div class="row">
            <div class="form-group col-sm-6">
                <label for="adapterName">Name</label>
                <input [(ngModel)]="exchangeAdapter.name" name="adapterName" placeholder="My Adapter Name"
                       id="adapterName" class="form-control" required maxlength="120" #adapterName="ngModel"
                       pattern="[a-zA-Z0-9_\- ]*">
                <div id="invalidAdapterName"
                     *ngIf="formErrors['adapterName'].length > 0" class="alert alert-danger">
                    {{ formErrors['adapterName']}}
                </div>
            </div>
        </div>

        <!-- Adapter Class Name -->
        <div class="row">
            <div class="form-group col-sm-6">
                <label for="className">Class Name</label>
                <input [(ngModel)]="exchangeAdapter.className" name="className" placeholder="com.my.MyExchangeAdapter"
                       id="className" class="form-control" required maxlength="120" #adapterClassName="ngModel"
                       pattern="([a-zA-Z_$][a-zA-Z0-9_$]*\.)*[a-zA-Z_$][a-zA-Z0-9_$]*"/>
                <div id="invalidClassName"
                     *ngIf="formErrors['className'].length > 0" class="alert alert-danger">
                    {{ formErrors['className']}}
                </div>
            </div>
        </div>

        <!-- Connection Timeout -->
        <div class="row">
            <div class="form-group col-sm-6">
                <label for="connectionTimeout">Connection Timeout (secs)</label>
                <input [(ngModel)]="exchangeAdapter.networkConfig.connectionTimeout" id="connectionTimeout"
                       name="connectionTimeout" class="form-control" placeholder="60" required
                       pattern="\d+" #connectionTimeout="ngModel"/>
                <div id="invalidConnectionTimeout"
                     *ngIf="formErrors['connectionTimeout'].length > 0" class="alert alert-danger">
                    {{ formErrors['connectionTimeout']}}
                </div>
            </div>
        </div>

        <!-- HTTP Error Codes -->
        <div class="row">
            <div class="col-sm-6">
                <h4>Non Fatal HTTP Status Codes</h4>
                <div *ngFor="let errorCode of exchangeAdapter.networkConfig.nonFatalErrorHttpStatusCodes;
                     let i=index; trackBy:trackByIndex" class="panel panel-default">
                    <div class="panel-heading">
                        <span>Code {{i + 1}}</span>
                        <span id="deleteErrorCodeButton_{{i}}" class="glyphicon glyphicon-remove pull-right"
                              *ngIf="exchangeAdapter.networkConfig.nonFatalErrorHttpStatusCodes.length > 0"
                              (click)="deleteErrorCode(exchangeAdapter.networkConfig.nonFatalErrorHttpStatusCodes[i])"></span>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label for="errorCode_{{i}}">HTTP Status Code</label>
                            <input [(ngModel)]="exchangeAdapter.networkConfig.nonFatalErrorHttpStatusCodes[i]"
                                   class="form-control" id="errorCode_{{i}}"
                                   name="errorCode_{{i}}" required #errorCode="ngModel" pattern="\d{3}"
                                   placeholder="502">
                            <div id="invalidErrorCode_{{i}}"
                                 *ngIf="formErrors['errorCode_' + i].length > 0" class="alert alert-danger">
                                {{ formErrors['errorCode_' + i] }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="margin-20">
                    <a id="addNewErrorCodeLink" (click)="addErrorCode()" style="cursor: default">
                        Add error code +
                    </a>
                </div>
            </div>

            <!-- Error Messages -->
            <div class="col-sm-6">
                <h4>Non Fatal Error Messages</h4>
                <div *ngFor="let errorMsg of exchangeAdapter.networkConfig.nonFatalErrorMessages; let i=index; trackBy:trackByIndex"
                     class="panel panel-default">
                    <div class="panel-heading">
                        <span>Message {{i + 1}}</span>
                        <span id="deleteErrorMessageButton_{{i}}" class="glyphicon glyphicon-remove pull-right"
                              *ngIf="exchangeAdapter.networkConfig.nonFatalErrorMessages.length > 0"
                              (click)="deleteErrorMessage(exchangeAdapter.networkConfig.nonFatalErrorMessages[i])"></span>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label for="errorMessage_{{i}}">Error Message</label>
                            <input [(ngModel)]="exchangeAdapter.networkConfig.nonFatalErrorMessages[i]"
                                   class="form-control" id="errorMessage_{{i}}"
                                   name="errorMessage_{{i}}" required #errorMsg="ngModel"
                                   placeholder="My error message...">
                            <div id="invalidErrorMessage_{{i}}"
                                 *ngIf="formErrors['errorMessage_' + i].length > 0" class="alert alert-danger">
                                {{ formErrors['errorMessage_' + i] }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="margin-20">
                    <a id="addNewErrorMessageLink" (click)="addErrorMessage()" style="cursor: default">
                        Add error message +
                    </a>
                </div>
            </div>
        </div>

        <!-- Optional Exchange Config -->
        <div>
            <hr>
        </div>
        <a class="btn btn-primary bottom-margin-10" data-toggle="collapse" href="#optionalExchangeConfig"
           aria-expanded="false"
           aria-controls="optionalExchangeConfig" id="optionalExchangeConfigButton">
            <i class="glyphicon glyphicon-triangle-right pull-left glyphicon-padding"></i>
            <i class="glyphicon glyphicon-triangle-bottom pull-left glyphicon-padding"></i>
            Optional Config
        </a>

        <!--
        Optional Config Items
        -->
        <div class="collapse" id="optionalExchangeConfig">
            <div class="row">
                <div class="col-sm-12">

                    <div *ngFor="let optionalConfigItem of exchangeAdapter.optionalConfig.configItems; let i=index; trackBy:trackByIndex"
                         class="panel panel-default">

                        <div class="panel-heading">
                            <span>Config Item {{i + 1}}</span>
                            <span id="deleteExchangeConfigItemButton_{{i}}" class="glyphicon glyphicon-remove pull-right"
                                  *ngIf="exchangeAdapter.optionalConfig.configItems.length > 0"
                                  (click)="deleteOptionalConfigItem(exchangeAdapter.optionalConfig.configItems[i])"></span>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="form-group col-sm-12">
                                    <label for="exchangeConfigItemName_{{i}}" class="col-sm-4">Name</label>
                                    <input [(ngModel)]="optionalConfigItem.name"
                                           id="exchangeConfigItemName_{{i}}" name="exchangeConfigItemName_{{i}}" class="form-control"
                                           maxlength="121" placeholder="but-fee" minLength="1" required
                                           #exchangeConfigItemName="ngModel" pattern="[a-zA-Z0-9/_\-]*">
                                    <div id="invalidExchangeConfigItemName_{{i}}"
                                         *ngIf="formErrors['exchangeConfigItemName_' + i].length > 0" class="alert alert-danger">
                                        {{ formErrors['exchangeConfigItemName_' + i] }}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-12">
                                    <label for="exchangeConfigItemValue_{{i}}" class="col-sm-4">Value</label>
                                    <input [(ngModel)]="optionalConfigItem.value"
                                           id="exchangeConfigItemValue_{{i}}" name="exchangeConfigItemValue_{{i}}" class="form-control"
                                           maxlength="121" placeholder="0.25" minLength="1" required #exchangeCconfigItemValue="ngModel">
                                    <div id="invalidExchangeConfigItemValue_{{i}}"
                                         *ngIf="formErrors['exchangeConfigItemValue_' + i].length > 0" class="alert alert-danger">
                                        {{ formErrors['exchangeConfigItemValue_' + i] }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="margin-20">
                        <i class="glyphicon glyphicon-plus pull-left glyphicon-padding"></i>
                        <a id="addNewExchangeConfigItemLink" (click)="addOptionalConfigItem()" style="cursor: default">
                            Add new Config Item
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <hr>
        </div>
        <div>
            <!-- Must have type for button else Chrome reloads entire app on Cancel click!
                 http://stackoverflow.com/questions/38120756/angular2-router-navigate-refresh-page
             -->
            <button id="exchangeAdapterCancelButton" type="button" (click)="cancel()" class="btn btn-default">Cancel</button>
            <button id="exchangeAdapterSaveButton" class="btn btn-primary">Save</button>
        </div>
    </form>
</div>
