<!--
 Template-driven version of the Email Alerts config form.
 -->
<div *ngIf="emailAlertsConfig">

    <form *ngIf="active" #f="ngForm" novalidate (ngSubmit)="save(f.valid)">

        <div class="row">
            <div class="form-group col-sm-6">
                <label for="alertsEnabled">Enabled</label>
                <input [(ngModel)]="emailAlertsConfig.enabled" type="checkbox" class="checkbox-inline" id="alertsEnabled"
                       name="alertsEnabled" #alertsEnabled="ngModel" id="alertsEnabled">
            </div>
        </div>

        <div class="row">
            <div class="form-group col-sm-6">
                <label for="accountUsername">Account Username</label>
                <input type="text" class="form-control" name="accountUsername" [(ngModel)]="emailAlertsConfig.accountUsername"
                       required minlength="4" maxlength="8" #username="ngModel" id="accountUsername"
                       pattern="[a-zA-Z0-9_\- ]*">

                <div id="invalidAccountUsername"
                     [hidden]="username.valid || (username.pristine && !f.submitted)" class="alert alert-danger">
                    Value must be minimum of 4 alphanumeric chars. It may only include the following special characters: / _ -
                </div>

                <!--<small [hidden]="username.valid || (username.pristine && !f.submitted)" class="text-danger">-->
                    <!--Username is required (minimum 4 characters).-->
                <!--</small>-->

                <!--<pre *ngIf="username.errors" class="margin-20">{{ username.errors | json }}</pre>-->
            </div>
        </div>

        <div class="row">
            <div class="form-group col-sm-6">
                <label for="accountPassword">Account Password</label>
                <input type="password" class="form-control" name="password" [(ngModel)]="emailAlertsConfig.accountPassword"
                       required validateEqual="confirmPassword" reverse="true" #password="ngModel" id="accountPassword"
                       pattern="[a-zA-Z0-9_\-,.@£$ ]*">

                <div id="invalidAccountPassword"
                     [hidden]="password.valid || (password.pristine && !f.submitted)" class="alert alert-danger">
                    Value must be alphanumeric and can only include the following special characters: / _ - , . @ £ $
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-sm-6">
                <label for="retypeAccountPassword">Retype Password</label>
                <input type="password" class="form-control" name="confirmPassword" [ngModel]="emailAlertsConfig.confirmPassword"
                       required validateEqual="password" reverse="false" #confirmPassword="ngModel" pattern="[a-zA-Z0-9_\-,.@£$ ]*"
                       id="retypeAccountPassword">

                <div id="invalidRetypeAccountPassword"
                [hidden]="confirmPassword.valid || (confirmPassword.pristine && !f.submitted)" class="alert alert-danger">
                    Both passwords must match. Value must be alphanumeric and can only include the following special characters: / _ - , . @ £ $
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-sm-6">
                <label for="toAddress">To Address</label>
                <input type="email" class="form-control" name="toAddress" [(ngModel)]="emailAlertsConfig.toAddress"
                       required #toAddress="ngModel" pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+.[a-zA-Z0-9-.]+$"
                       id="toAddress" placeholder="solo@falcon.com">

                <div id="invalidToAddress"
                     [hidden]="toAddress.valid || (toAddress.pristine && !f.submitted)" class="alert alert-danger">
                    Valid email To Address is required, e.g. <i>solo@falcon.com</i>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-sm-6">
                <label for="fromAddress">From Address</label>
                <input type="email" class="form-control" name="fromAddress" [(ngModel)]="emailAlertsConfig.fromAddress"
                       required #fromAddress="ngModel" pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+.[a-zA-Z0-9-.]+$"
                       id="fromAddress" placeholder="boba@hoth.com">

                <div id="invalidFromAddress"
                     [hidden]="fromAddress.valid || (fromAddress.pristine && !f.submitted)" class="alert alert-danger">
                    Valid email From Address is required, e.g. <i>boba@hoth.com</i>
                </div>
            </div>
        </div>

        <div>
            <hr>
        </div>
        <div>
            <!-- Must have type for button else Chrome reloads entire app on Cancel click!
                 http://stackoverflow.com/questions/38120756/angular2-router-navigate-refresh-page
             -->
            <button id="emailAlertCancelButton" type="button" (click)="goToDashboard()" class="btn btn-default">Cancel</button>
            <button id="emailAlertSaveButton" type="submit" class="btn btn-primary">Save</button>
        </div>

        <!-- For Debugging-->
        <!--<div class="margin-20" *ngIf="f">-->
        <!--<div>Form details:-</div>-->
        <!--<pre>Is form valid?: <br>{{f.valid | json}}</pre>-->
        <!--<pre>Is form submitted?: <br>{{f.submitted | json}}</pre>-->
        <!--<pre>submitted value: <br>{{f.value | json}}</pre>-->
        <!--</div>-->
    </form>
</div>