label {
    display: inline-block;
    width: 15em;
    margin: .5em 0;
    color: #444;
    font-weight: bold;
}

input {
    height: 2em;
    font-size: 1em;
    padding-left: .4em;
}

/* Show/hide Optional Config glyph */
a[aria-expanded=true] .glyphicon-menu-right {
    display: none;
}
a[aria-expanded=false] .glyphicon-menu-down {
    display: none;
}

.glyphicon-padding {
    padding-right: 10px;
}

nav a:visited, a:link {
    color: #FFFFFF;
    text-decoration: none;
}
