<!--
 Template-driven version of the Email Alerts config form.
 -->
<div *ngIf="emailAlertsConfig">
    <form *ngIf="active" #emailAlertsForm="ngForm" novalidate (ngSubmit)="save(emailAlertsForm.valid)">

        <!-- Alerts Enabled? -->
        <div class="row">
            <div class="form-group col-sm-6">
                <label for="alertsEnabled">Enabled</label>
                <input [(ngModel)]="emailAlertsConfig.enabled" type="checkbox" class="checkbox-inline" id="alertsEnabled"
                       name="alertsEnabled" #alertsEnabled="ngModel">
            </div>
        </div>

        <!-- Account Username -->
        <div class="row">
            <div class="form-group col-sm-6">
                <label for="accountUsername">Account Username</label>
                <input class="form-control" name="accountUsername" [(ngModel)]="emailAlertsConfig.accountUsername"
                       required minlength="1" maxlength="50" #username="ngModel" id="accountUsername"
                       pattern="[a-zA-Z0-9_\- ]*">
                <div id="invalidAccountUsername"
                     *ngIf="formErrors['accountUsername'].length > 0" class="alert alert-danger">
                    {{ formErrors['accountUsername'] }}
                </div>
            </div>
        </div>

        <!-- Account Password -->
        <div class="row">
            <div class="form-group col-sm-6">
                <label for="accountPassword">Account Password</label>
                <input type="password" class="form-control" name="password" [(ngModel)]="emailAlertsConfig.accountPassword"
                       required appBxBotUiValidateEqual="confirmPassword" reverse="true" #password="ngModel" id="accountPassword"
                       maxlength="50" pattern="[a-zA-Z0-9_\-,.@£$ ]*">
                <div id="invalidAccountPassword"
                     *ngIf="formErrors['password'].length > 0" class="alert alert-danger">
                    {{ formErrors['password'] }}
                </div>
            </div>
        </div>

        <!-- Retype Account Password -->
        <div class="row">
            <div class="form-group col-sm-6">
                <label for="retypeAccountPassword">Retype Password</label>
                <input type="password" class="form-control" name="confirmPassword" [ngModel]="emailAlertsConfig.confirmPassword"
                       required appBxBotUiValidateEqual="password" reverse="false" #confirmPassword="ngModel" pattern="[a-zA-Z0-9_\-,.@£$ ]*"
                       id="retypeAccountPassword" maxlength="50">
                <div id="invalidRetypeAccountPassword"
                     *ngIf="formErrors['confirmPassword'].length > 0" class="alert alert-danger">
                    {{ formErrors['confirmPassword'] }}
                </div>
            </div>
        </div>

        <!-- To address -->
        <div class="row">
            <div class="form-group col-sm-6">
                <label for="toAddress">To:</label>
                <input type="email" class="form-control" name="toAddress" [(ngModel)]="emailAlertsConfig.toAddress"
                       required #toAddress="ngModel" pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+.[a-zA-Z0-9-.]+$"
                       id="toAddress" placeholder="solo@falcon.com" maxlength="50">
                <div id="invalidToAddress"
                     *ngIf="formErrors['toAddress'].length > 0" class="alert alert-danger">
                    {{ formErrors['toAddress'] }}
                </div>
            </div>
        </div>

        <!-- From address -->
        <div class="row">
            <div class="form-group col-sm-6">
                <label for="fromAddress">From:</label>
                <input type="email" class="form-control" name="fromAddress" [(ngModel)]="emailAlertsConfig.fromAddress"
                       required #fromAddress="ngModel" pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+.[a-zA-Z0-9-.]+$"
                       id="fromAddress" placeholder="boba@hoth.com" maxlength="50">
                <div id="invalidFromAddress"
                     *ngIf="formErrors['fromAddress'].length > 0" class="alert alert-danger">
                    {{ formErrors['fromAddress'] }}
                </div>
            </div>
        </div>
        <div>
            <hr>
        </div>
        <div>
            <!-- Must have type for button else Chrome reloads entire app on Cancel click!
                 http://stackoverflow.com/questions/38120756/angular2-router-navigate-refresh-page
             -->
            <button id="emailAlertCancelButton" type="button" (click)="cancel()" class="btn btn-default">Cancel</button>
            <button id="emailAlertSaveButton" class="btn btn-primary">Save</button>
        </div>
        <!-- For Debugging-->
        <!--<div class="margin-20" *ngIf="f">-->
        <!--<div>Form details:-</div>-->
        <!--<pre>Is form valid?: <br>{{emailAlertsForm.valid | json}}</pre>-->
        <!--<pre>Is form submitted?: <br>{{emailAlertsForm.submitted | json}}</pre>-->
        <!--<pre>submitted value: <br>{{emailAlertsForm.value | json}}</pre>-->
        <!--</div>-->
    </form>
</div>