<!--
 Template-driven version of the Trading Strategies form.
 -->
<div *ngIf="tradingStrategies">
    <form *ngIf="active" #tradingStrategiesForm="ngForm" novalidate (ngSubmit)="save(tradingStrategiesForm.valid)">
        <div class="row">
            <div class="col-sm-12">
                <div *ngFor="let tradingStrategy of tradingStrategies; let i=index;"
                     class="panel panel-default">
                    <div class="panel-heading">
                        <span>Strategy {{i + 1}}</span>
                        <span id="deleteTradingStrategyButton_{{i}}" class="glyphicon glyphicon-remove pull-right"
                              *ngIf="canBeDeleted()"
                              (click)="deleteTradingStrategy(tradingStrategies[i])"></span>
                    </div>
                    <div class="panel-body">

                        <!-- Strategy Name -->
                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label for="tradingStrategyName_{{i}}">Name</label>
                                <input [(ngModel)]="tradingStrategies[i].name"
                                       class="form-control" id="tradingStrategyName_{{i}}"
                                       name="tradingStrategyName_{{i}}" #tradingStrategyName="ngModel"
                                       required maxlength="50" pattern="[a-zA-Z0-9_\- ]*"
                                       duplicateName="{{getOtherStrategyNames(tradingStrategies[i].id)}}"/>
                                <div id="invalidTradingStrategyName_{{i}}"
                                     *ngIf="formErrors['tradingStrategyName_' + i].length > 0" class="alert alert-danger">
                                    {{ formErrors['tradingStrategyName_' + i] }}
                                </div>
                            </div>
                        </div>

                        <!-- Strategy Description -->
                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label for="tradingStrategyDescription_{{i}}">Description</label>
                                <input [(ngModel)]="tradingStrategies[i].description"
                                       class="form-control" id="tradingStrategyDescription_{{i}}"
                                       name="tradingStrategyDescription_{{i}}" #tradingStrategyDescription="ngModel"
                                       maxlength="121"/>
                                <div id="invalidTradingStrategyDescription_{{i}}"
                                     *ngIf="formErrors['tradingStrategyDescription_' + i].length > 0" class="alert alert-danger">
                                    {{ formErrors['tradingStrategyDescription_' + i] }}
                                </div>
                            </div>
                        </div>

                        <!-- Strategy Class Name -->
                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label for="tradingStrategyClassname_{{i}}">Class Name</label>
                                <input [(ngModel)]="tradingStrategies[i].className" name="tradingStrategyClassname_{{i}}"
                                       placeholder="com.my.MyTradingStrategyClass" id="tradingStrategyClassname_{{i}}"
                                       class="form-control" required maxlength="120"
                                       #tradingStrategyClassname ="ngModel"
                                       pattern="([a-zA-Z_$][a-zA-Z0-9_$]*\.)*[a-zA-Z_$][a-zA-Z0-9_$]*"/>
                                <div id="invalidTradingStrategyClassname_{{i}}"
                                     *ngIf="formErrors['tradingStrategyClassname_' + i].length > 0" class="alert alert-danger">
                                    {{ formErrors['tradingStrategyClassname_' + i] }}
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="margin-20">
                    <a id="addTradingStrategyLink" (click)="addTradingStrategy()" style="cursor: default">
                        Add Trading Strategy +
                    </a>
                </div>
            </div>
        </div>
        <div>
            <hr>
        </div>
        <div>
            <!--
             Must have type for button else Chrome reloads entire app on Cancel click!
             http://stackoverflow.com/questions/38120756/angular2-router-navigate-refresh-page
             -->
            <button id="strategyCancelButton" type="button" (click)="cancel()" class="btn btn-default">Cancel</button>
            <button id="strategySaveButton" class="btn btn-primary">Save</button>
        </div>
    </form>
</div>

<div *ngIf="!canDeleteStrategy" class="modal fade show in danger" id="cannotDeleteStrategyModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
                <h4 class="modal-title">{{errorModal.title}}</h4>
            </div>
            <div class="modal-body">
                {{errorModal.body}}
            </div>
            <div class="modal-footer">
                <button id="cannotDeleteStrategyModalCloseButton" type="button" class="btn btn-primary"
                        (click)="hideCannotDeleteStrategyModal()">Close</button>
            </div>
        </div>
    </div>
</div>

