<!--
 Template-driven version of the Trading Strategies form.
 -->
<div *ngIf="tradingStrategies">
    <form *ngIf="active" #tradingStrategiesForm="ngForm" novalidate (ngSubmit)="save(tradingStrategiesForm.valid)">
        <div class="row">
            <div class="col-sm-12">
                <div *ngFor="let tradingStrategy of tradingStrategies; let i=index;"
                     class="panel panel-default">
                    <div class="panel-heading">
                        <span>Strategy {{i + 1}}</span>
                        <span id="deleteTradingStrategyButton_{{i}}" class="glyphicon glyphicon-remove pull-right"
                              *ngIf="canBeDeleted()"
                              (click)="deleteTradingStrategy(tradingStrategies[i])"></span>
                    </div>
                    <div class="panel-body">

                        <!-- Strategy Name -->
                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label for="tradingStrategyName_{{i}}">Name</label>
                                <input [(ngModel)]="tradingStrategies[i].name"
                                       class="form-control" id="tradingStrategyName_{{i}}"
                                       name="tradingStrategyName_{{i}}" #tradingStrategyName="ngModel"
                                       required maxlength="50" pattern="[a-zA-Z0-9_\- ]*"
                                       appBxbotUiDuplicateName="{{getOtherStrategyNames(tradingStrategies[i].id)}}"/>
                                <div id="invalidTradingStrategyName_{{i}}"
                                     *ngIf="formErrors['tradingStrategyName_' + i].length > 0"
                                     class="alert alert-danger">
                                    {{ formErrors['tradingStrategyName_' + i] }}
                                </div>
                            </div>
                        </div>

                        <!-- Strategy Description -->
                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label for="tradingStrategyDescription_{{i}}">Description</label>
                                <input [(ngModel)]="tradingStrategies[i].description"
                                       class="form-control" id="tradingStrategyDescription_{{i}}"
                                       name="tradingStrategyDescription_{{i}}" #tradingStrategyDescription="ngModel"
                                       maxlength="121"/>
                                <div id="invalidTradingStrategyDescription_{{i}}"
                                     *ngIf="formErrors['tradingStrategyDescription_' + i].length > 0"
                                     class="alert alert-danger">
                                    {{ formErrors['tradingStrategyDescription_' + i] }}
                                </div>
                            </div>
                        </div>

                        <!-- Strategy Class Name -->
                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label for="tradingStrategyClassname_{{i}}">Class Name</label>
                                <input [(ngModel)]="tradingStrategies[i].className"
                                       name="tradingStrategyClassname_{{i}}"
                                       placeholder="com.my.MyTradingStrategyClass" id="tradingStrategyClassname_{{i}}"
                                       class="form-control" required maxlength="120"
                                       #tradingStrategyClassname="ngModel"
                                       pattern="([a-zA-Z_$][a-zA-Z0-9_$]*\.)*[a-zA-Z_$][a-zA-Z0-9_$]*"/>
                                <div id="invalidTradingStrategyClassname_{{i}}"
                                     *ngIf="formErrors['tradingStrategyClassname_' + i].length > 0"
                                     class="alert alert-danger">
                                    {{ formErrors['tradingStrategyClassname_' + i] }}
                                </div>
                            </div>
                        </div>

                        <!-- Optional Strategy Config -->
                        <div>
                            <hr>
                        </div>
                        <a class="btn btn-primary bottom-margin-10" data-toggle="collapse"
                           href="#optionalStrategyConfig_{{i}}"
                           aria-expanded="false" aria-controls="optionalStrategyConfig">
                            <i class="glyphicon glyphicon-triangle-right pull-left glyphicon-padding"></i>
                            <i class="glyphicon glyphicon-triangle-bottom pull-left glyphicon-padding"></i>
                            Optional Config
                        </a>

                        <!--
                        Optional Config Items
                        -->
                        <div class="collapse" id="optionalStrategyConfig_{{i}}">
                            <div class="row">
                                <div class="col-sm-12">

                                    <div *ngFor="let optionalConfigItem of tradingStrategies[i].optionalConfig.configItems; let j=index; trackBy:trackByIndex"
                                         class="panel panel-default">

                                        <div class="panel-heading">
                                            <span>Config Item {{j + 1}}</span>
                                            <span id="deleteConfigItemButton_{{j}}"
                                                  class="glyphicon glyphicon-remove pull-right"
                                                  *ngIf="tradingStrategies[i].optionalConfig.configItems.length > 0"
                                                  (click)="deleteOptionalConfigItem(tradingStrategies[i], optionalConfigItem)"></span>
                                        </div>
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="form-group col-sm-12">
                                                    <label for="strategyConfigItemName_{{j}}" class="col-sm-4">Name</label>
                                                    <input [(ngModel)]="optionalConfigItem.name"
                                                           id="strategyConfigItemName_{{j}}" name="strategyConfigItemName_{{j}}"
                                                           class="form-control"
                                                           maxlength="121" placeholder="buy-fee" minLength="1" required
                                                           #configItemName="ngModel" pattern="[a-zA-Z0-9/_\- ]*">
                                                    <!--<div id="invalidConfigItemName_{{i}}"-->
                                                         <!--*ngIf="formErrors['configItemName_' + i].length > 0"-->
                                                         <!--class="alert alert-danger">-->
                                                        <!--{{ formErrors['configItemName_' + i] }}-->
                                                    <!--</div>-->
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group col-sm-12">
                                                    <label for="strategyConfigItemValue_{{j}}" class="col-sm-4">Value</label>
                                                    <input [(ngModel)]="optionalConfigItem.value"
                                                           id="strategyConfigItemValue_{{j}}" name="strategyConfigItemValue_{{j}}"
                                                           class="form-control"
                                                           maxlength="121" placeholder="0.25" minLength="1" required
                                                           #configItemValue="ngModel">
                                                    <!--<div id="invalidConfigItemValue_{{i}}"-->
                                                         <!--*ngIf="formErrors['configItemValue_' + i].length > 0"-->
                                                         <!--class="alert alert-danger">-->
                                                        <!--{{ formErrors['configItemValue_' + i] }}-->
                                                    <!--</div>-->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="margin-20">
                                        <i class="glyphicon glyphicon-plus pull-left glyphicon-padding"></i>
                                        <a id="addNewStrategyConfigItemLink"
                                           (click)="addOptionalConfigItem(tradingStrategies[i])" style="cursor: default">
                                            Add new Config Item
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="margin-20">
                    <i class="glyphicon glyphicon-plus pull-left glyphicon-padding"></i>
                    <a id="addTradingStrategyLink" (click)="addTradingStrategy()" style="cursor: default">
                        Add Trading Strategy
                    </a>
                </div>
            </div>
        </div>

        <div>
            <hr>
        </div>
        <div>
            <!--
             Must have type for button else Chrome reloads entire app on Cancel click!
             http://stackoverflow.com/questions/38120756/angular2-router-navigate-refresh-page
             -->
            <button id="strategyCancelButton" type="button" (click)="cancel()" class="btn btn-default">Cancel</button>
            <button id="strategySaveButton" class="btn btn-primary">Save</button>
        </div>
    </form>
</div>

<div *ngIf="!canDeleteStrategy" class="modal fade show in danger" id="cannotDeleteStrategyModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
                <h4 class="modal-title">{{errorModal.title}}</h4>
            </div>
            <div class="modal-body">
                {{errorModal.body}}
            </div>
            <div class="modal-footer">
                <button id="cannotDeleteStrategyModalCloseButton" type="button" class="btn btn-primary"
                        (click)="hideCannotDeleteStrategyModal()">Close
                </button>
            </div>
        </div>
    </div>
</div>

