<div *ngIf="bot" class="container module-bootstrap">
    <h2>{{bot.name}} Details</h2>
    <app-bxbot-ui-tabs>
        <app-bxbot-ui-tab [id]="bot.id" [title]="'exchange adapter'"><app-bxbot-ui-exchange-adapter-rx></app-bxbot-ui-exchange-adapter-rx></app-bxbot-ui-tab>
        <!--<app-bxbot-ui-tab [id]="bot.id" [title]="'exchange adapter'"><app-bxbot-ui-exchange-adapter></app-bxbot-ui-exchange-adapter></app-bxbot-ui-tab>-->

        <app-bxbot-ui-tab [id]="bot.id" [title]="'markets'"><app-bxbot-ui-markets></app-bxbot-ui-markets></app-bxbot-ui-tab>
        <app-bxbot-ui-tab [id]="bot.id" [title]="'trading strategies'"><app-bxbot-ui-trading-strategies></app-bxbot-ui-trading-strategies></app-bxbot-ui-tab>
        <app-bxbot-ui-tab [id]="bot.id" [title]="'email alerts'"><app-bxbot-ui-email-alerts></app-bxbot-ui-email-alerts></app-bxbot-ui-tab>
    </app-bxbot-ui-tabs>
</div>
