<!--
 Template-driven version of the Settings form.
 -->
<div *ngIf="bots">
    <form *ngIf="active" #strategiesForm="ngForm" novalidate (ngSubmit)="save(strategiesForm.valid)">
        <div class="row">
            <div class="col-sm-12">
                <div *ngFor="let bot of bots; let i=index;"
                     class="panel panel-default">
                    <div class="panel-heading">
                        <span>Bot {{i + 1}}</span>
                        <span id="deleteBotButton_{{i}}" class="glyphicon glyphicon-remove pull-right"
                              *ngIf="canBeDeleted()"
                              (click)="deleteBot(bots[i])"></span>
                    </div>
                    <div class="panel-body">

                        <!-- Bot Id -->
                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label for="botId_{{i}}">Bot Id</label>
                                <input [(ngModel)]="bots[i].id"
                                       class="form-control" id="botId_{{i}}"
                                       name="botId_{{i}}" #botId="ngModel"
                                       required maxlength="50" pattern="[a-zA-Z0-9_-]*"/>
                                <div id="invalidBotId_{{i}}"
                                     *ngIf="formErrors['botId_' + i].length > 0"
                                     class="alert alert-danger">
                                    {{ formErrors['botId_' + i] }}
                                </div>
                            </div>
                        </div>

                        <!-- Name -->
                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label for="name_{{i}}">Name</label>
                                <input [(ngModel)]="bots[i].name"
                                       class="form-control" id="name_{{i}}"
                                       name="name_{{i}}" #name="ngModel"
                                       required maxlength="50" pattern="[a-zA-Z0-9_ -]*"/>
                                <div id="invalidName_{{i}}"
                                     *ngIf="formErrors['name_' + i].length > 0"
                                     class="alert alert-danger">
                                    {{ formErrors['name_' + i] }}
                                </div>
                            </div>
                        </div>

                        <!-- Base URL -->
                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label for="baseUrl_{{i}}">Base URL</label>
                                <input [(ngModel)]="bots[i].baseUrl"
                                       class="form-control" id="baseUrl_{{i}}"
                                       name="baseUrl_{{i}}" #baseUrl="ngModel"
                                       required maxlength="100"/>
                                <div id="invalidBaseUrl_{{i}}"
                                     *ngIf="formErrors['baseUrl_' + i].length > 0"
                                     class="alert alert-danger">
                                    {{ formErrors['baseUrl_' + i] }}
                                </div>
                            </div>
                        </div>

                        <!-- Username -->
                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label for="username_{{i}}">Username</label>
                                <input [(ngModel)]="bots[i].username"
                                       class="form-control" id="username_{{i}}"
                                       name="username_{{i}}" #alias="ngModel"
                                       required maxlength="50" pattern="[a-zA-Z0-9_-]*"/>
                                <div id="invalidUsername_{{i}}"
                                     *ngIf="formErrors['username_' + i].length > 0"
                                     class="alert alert-danger">
                                    {{ formErrors['username_' + i] }}
                                </div>
                            </div>
                        </div>

                        <!-- Password -->
                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label for="password_{{i}}">Password</label>
                                <input [(ngModel)]="bots[i].password"
                                       class="form-control" id="password_{{i}}"
                                       name="password_{{i}}" #alias="ngModel"
                                       required maxlength="50" pattern="[a-zA-Z0-9_\-,.@£$ ]*"/>
                                <div id="invalidPassword_{{i}}"
                                     *ngIf="formErrors['password_' + i].length > 0"
                                     class="alert alert-danger">
                                    {{ formErrors['password_' + i] }}
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="margin-20">
                    <i class="glyphicon glyphicon-plus pull-left glyphicon-padding"></i>
                    <a id="addBotLink" (click)="addBot()" style="cursor: default">
                        Add Bot
                    </a>
                </div>
            </div>
        </div>

        <div>
            <hr>
        </div>
        <div>
            <!--
             Must have type for button else Chrome reloads entire app on Cancel click!
             http://stackoverflow.com/questions/38120756/angular2-router-navigate-refresh-page
             -->
            <button id="botCancelButton" type="button" (click)="cancel()" class="btn btn-default">Cancel</button>
            <button id="botSaveButton" class="btn btn-primary">Save</button>
        </div>
    </form>

</div>

